body{
    background-color: rgb(127, 221, 188);
    
}

table{
    border: 2px gray gray;
    border-radius: 10px;
    box-shadow: 3px 2px 5px gray;
    padding: 10px;
    background-color:rgb(179, 207, 241);
}
table.acc{
    border: 2px  black;
    background:lightblue;
    margin: 50px auto 50px auto;
}
.create{
text-align: right;
    width: 20px;
}
.agr input{
    width: 2px;
}
button:active{  
    background-color:rgb(81, 211, 81);
}


